html {
  background-color: #F0E5BD !important;
}

h1 {
  background-color: #916c11;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.2);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
