<app-default-info-page [title]="title" backButtonTitle="Voltar para Itens" [backButtonRoute]="backRoute">
  <ng-container form-content>
    <form class="flex gap-4 flex-wrap" [formGroup]="itensForm">
      <div class="flex flex-col font-dmSans w-[45%]">
        <label for="nome" class="font-medium text-gray-700 tracking-tight">Título</label>
        <input id="nome"
               type="text"
               formControlName="nome"
               class="font-medium tracking-tight rounded-md border-gray-300 drop-shadow-title focus:border-amber-300 focus:ring-amber-300"
               placeholder="Insira um título...">
      </div>
      <div class="flex flex-col font-dmSans w-[45%]">
        <label for="categoria" class="font-medium text-gray-700 tracking-tight">Categoria</label>
        <ng-select class="font-medium tracking-tight rounded-md border-gray-300 drop-shadow-title focus:border-amber-300 focus:ring-amber-300"
                   labelForId="categoria" placeholder="Selecione uma categoria..." formControlName="categoria"
                   [items]="categorias$ | async"  bindLabel="nome">
        </ng-select>
      </div>
      <div class="flex flex-col font-dmSans w-[20%]">
        <label for="descricao" class="font-medium text-gray-700 tracking-tight">Descrição</label>
        <textarea id="descricao"
                  formControlName="descricao"
                  rows="4"
                  type="text"
                  class="font-medium tracking-tight rounded-md border-gray-300 drop-shadow-title focus:border-amber-300 focus:ring-amber-300"
                  placeholder="Insira uma breve descrição de seu item..."></textarea>
      </div>
      <div class="flex flex-col font-dmSans">
        <label for="preco" class="font-medium text-gray-700 tracking-tight">Preço</label>
        <input currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left'}"
               formControlName="preco"
               id="preco"
               type="text"
               class="font-medium tracking-tight rounded-md border-gray-300 drop-shadow-title focus:border-amber-300 focus:ring-amber-300">
      </div>
    </form>
  </ng-container>

  <ng-container buttons-content>
    <button type="submit" (click)="onSubmit()" class="flex gap-2 py-2 px-3 font-dmSans font-semibold text-lg text-white tracking-tighter bg-amber-500 rounded-md">
      <fa-icon icon="save"></fa-icon>
      Salvar
    </button>
    <button type="submit" [routerLink]="backRoute" class="flex gap-2 py-2 px-3 font-dmSans font-semibold text-lg text-white tracking-tighter bg-red-500 rounded-md">
      <fa-icon icon="trash-can" size="lg"></fa-icon>
      Excluir
    </button>
    <button type="submit" [routerLink]="backRoute" class="flex gap-2 py-2 px-3 font-dmSans font-semibold text-lg text-white tracking-tighter bg-gray-400 rounded-md">
      <fa-icon icon="xmark" size="lg"></fa-icon>
      Cancelar
    </button>
  </ng-container>
</app-default-info-page>
