
::ng-deep .ng-select .ng-select-container {
  height: 42px !important;
  border-radius: 0.375rem;

  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));

  --tw-drop-shadow: drop-shadow(1px 1px rgba(0, 0, 0, 0.15));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

::ng-deep .ng-select.ng-select-focused:not(.ng-select-opened) .ng-select-container {
  box-shadow: none !important;
  border-color: rgb(209 213 219 / 1);
}
