<section class="bg-[#F0E5BD] dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="flex flex-col gap-1 items-center mb-8">
      <img ngSrc="assets/images/logo-chamou-amigao.svg" class="h-14 w-14" alt="Chamou, Amigão?"
           height="368" width="340"/>
      <p class="font-dmSans font-black tracking-tighter text-2xl text-[#97741E]">Chamou, Amigão?</p>
    </div>
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="font-dmSans p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-center text-xl font-bold leading-tight tracking-tighter text-gray-900 md:text-2xl dark:text-white">
          Entrar em sua conta
        </h1>
        <form [formGroup]="loginForm" class="space-y-4 md:space-y-6" (ngSubmit)="onSubmit()">
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seu email</label>
            <input type="email" name="email" id="email" formControlName="email" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-[#F0E5BD] focus:border-[#F0E5BD] block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="nome@empresa.com">
          </div>
          <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Senha</label>
            <input type="password" name="password" id="password" placeholder="••••••••" formControlName="password" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-[#F0E5BD] focus:border-[#F0E5BD] block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </div>
          <button type="submit"
                  class="w-full text-white bg-[#DBC164] hover:bg-[#97741E] focus:outline-none focus:ring-primary-300 font-semibold rounded-md text-md tracking-tight px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 drop-shadow-title">Entrar</button>
        </form>
      </div>
    </div>
  </div>
</section>
