<div class="fixed inset-0 z-10 overflow-y-auto">
  <div [class]="{'items-start': hasFullSize, 'items-center': !(hasFullSize)}"
       class="flex min-h-full h-max justify-center px-2 pt-[4.5rem] text-center">
    <div [class]="{'h-[calc(100dvh-theme(space.40))]': hasFullSize}"
         class="flex flex-col transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all pt-4 pb-5 px-6 max-h-[calc(100dvh-theme(space.40))] w-full max-w-lg">
      <div class="flex flex-col gap-1 sticky">
        <div class="flex justify-between items-center">
          <p class="leading-4 font-bioRhyme font-bold text-xl text-black tracking-tighter">{{ title }}</p>
          <button [mat-dialog-close]="defaultCloseObject" class="flex justify-center items-center z-50">
            <fa-icon icon="xmark" size="xl" class="text-inherit" title="Fechar"></fa-icon>
          </button>
        </div>
        <hr class="h-[0.05rem] border-t-0 bg-[#A0A0A0]"/>
      </div>
      <div class="flex flex-col grow w-full px-[0.1rem] py-3 overflow-y-auto">
        <ng-content select="[modal-content]"></ng-content>
      </div>
      <div class="flex items-center sticky bottom-0 right-0 inset-0">
        <div class="flex grow z-10">
          <ng-content select="[modal-footer]"></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>


