<dialog open class="relative z-50" aria-labelledby="modal-title" role="alertdialog" aria-modal="true">
  <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full h-max items-start justify-center px-2 pt-[4.5rem] text-center">
      <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->

      <div class="flex flex-col transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all pt-4 pb-5 px-6 h-[calc(100dvh-theme(space.40))] w-full max-w-lg">
        <div class="flex flex-col gap-1 sticky">
          <div class="flex justify-between items-center">
            <p class="leading-4 font-bioRhyme font-bold text-xl text-black tracking-tighter">Carrinho</p>
            <button class="flex justify-center items-center z-50">
              <fa-icon icon="xmark" size="xl" class="text-inherit" title="Conta"></fa-icon>
            </button>
          </div>
          <hr class="h-[0.05rem] border-t-0 bg-[#A0A0A0]" />
        </div>
        <div class="flex flex-col grow w-full gap-3 px-0.5 py-3 items-center overflow-y-auto">
          <app-cart-item></app-cart-item>
          <app-cart-item></app-cart-item>
          <app-cart-item></app-cart-item>
          <app-cart-item></app-cart-item>
        </div>
        <div class="flex items-center sticky bottom-0 right-0 inset-0">
          <div class="flex grow items-center bg-white rounded-[0.6rem] border-[0.05rem] border-[#A0A0A0] drop-shadow-cart-price z-10">
            <div class="w-full flex gap-10 justify-between items-center">
              <div class="flex w-64 grow">
                <div class="flex items-center justify-between py-1 px-4 w-full rounded-[0.3rem]">
                  <p class="font-bioRhyme font-bold text-xl tracking-tighter text-[#3D3D3D]">Total</p>
                  <p class="font-bioRhyme font-extrabold text-lg tracking-tighter text-black">R$120,00</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex items-center sticky bottom-0 right-0 inset-0">
          <div class="flex grow items-center bg-white rounded-[0.6rem] border-[0.05rem] border-[#A0A0A0] drop-shadow-cart-price z-10">
            <div class="w-full flex gap-10 justify-between items-center">
              <div class="flex w-64 grow">
                <div class="flex items-center justify-between py-1 px-4 w-full rounded-[0.3rem]">
                  <p class="font-bioRhyme font-bold text-xl tracking-tighter text-[#3D3D3D]">Total</p>
                  <p class="font-bioRhyme font-extrabold text-lg tracking-tighter text-black">R$120,00</p>
                </div>
              </div>
            </div>
          </div>
        </div>
<!--        <div class="flex items-center sticky bottom-0 right-0 inset-0 border-0 bg-white rounded-[0.6rem] drop-shadow-card z-10">-->
<!--          <div class="w-full flex gap-10 justify-between items-center">-->
<!--            <div class="flex w-64 grow">-->
<!--              <button class="flex items-center justify-center bg-[#DBC164] py-2.5 w-full rounded-[0.3rem] default-button">-->
<!--                <p class="font-bioRhyme font-extrabold text-xl tracking-tighter text-white drop-shadow-title">Fechar conta</p>-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</dialog>

