<div class="flex grow min-h-[7rem] justify-between bg-white drop-shadow-cart-item rounded-[0.3rem] px-4 py-4 gap-4">
  <div class="flex shrink-0 items-center">
    <img class="object-cover h-24 w-24 rounded-[0.3rem]" src="{{ linkImagem }}" alt="item">
  </div>
  <div class="flex flex-col shrink grow itens-center gap-2">
    <div class="flex flex-col gap-0.5">
      <div class="flex gap-1">
        <p class="leading-4 font-bioRhyme font-bold text-md text-[#BC3434] tracking-tighter">{{ quantidade }}x</p>
        <p class="leading-4 font-bioRhyme font-bold text-md text-black tracking-tighter">{{ titulo }}</p>
      </div>
<!--      <p class="leading-4 font-bioRhyme font-bold text-sm text-[#454545] line-through tracking-tighter">{{ preco | currency:undefined:undefined:undefined:'pt-BR' }}</p>-->
      <p class="leading-4 font-bioRhyme font-bold text-sm text-[#454545] tracking-tighter">{{ preco | currency:undefined:undefined:undefined:'pt-BR' }}</p>
    </div>
    <p class="font-cutive leading-2 text-[0.65rem] text-[#A0A0A0] flex-grow">{{ informacoes }}</p>
  </div>
  <div class="flex flex-col gap-5 justify-center">
    <button class="flex justify-center items-center">
      <fa-icon icon="pen-to-square" size="2xl" class="text-inherit" title="Editar" (click)="onEdit()"></fa-icon>
    </button>
    <button class="flex justify-center items-center text-[#BC3434]">
      <fa-icon icon="trash-can" size="2xl" class="text-inherit" title="Excluir" (click)="onDelete()"></fa-icon>
    </button>
  </div>
</div>
