<div class="flex gap-3 items-center bg-[#F5EFCA] rounded-[0.3rem]">
  <button class="flex grow-0 items-center justify-center bg-[#DBC164] text-white py-2 px-2.5 rounded-[0.3rem] drop-shadow-title" (click)="onMinusPress()">
    <fa-icon icon="minus" size="xl"></fa-icon>
  </button>
  <div class="flex w-5 justify-center">
    <p class="leading-4 font-bioRhyme font-normal text-xl text-black tracking-tighter">{{ quantity }}</p>
  </div>
  <button class="flex grow-0 items-center justify-center bg-[#DBC164] text-white py-2 px-2.5 rounded-[0.3rem] drop-shadow-title" (click)="onPlusPress()">
    <fa-icon icon="plus" size="xl"></fa-icon>
  </button>
</div>
