<dialog open class="relative z-50" aria-labelledby="modal-title" role="alertdialog" aria-modal="true">
  <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full h-max items-start justify-center px-2 pt-[4.5rem] text-center">
      <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->

      <div class="flex flex-col transform overflow-hidden rounded-lg bg-[#F2F1EB] text-left shadow-xl transition-all h-[calc(100dvh-theme(space.40))] w-full max-w-lg">
        <div class="flex flex-col sticky">
          <button class="fixed flex justify-center items-center pt-[0.2rem] top-0 right-0 h-12 w-12 z-50 bg-[#F2F1EB] rounded-bl-md rounded-tr-md drop-shadow-modal">
            <fa-icon icon="xmark" size="2x" class="text-inherit" title="Conta"></fa-icon>
          </button>
          <div class="flex items-center grow shrink-0 w-full drop-shadow-card">
            <img class="object-cover w-full h-32 rounded-t-md" src="/assets/img/bolinho.png" alt="juju">
          </div>
          <div class="flex w-full rounded-b-[0.3rem] bg-white px-5 py-4 drop-shadow-card">
            <div class="flex flex-col w-full gap-2 divide-y-[0.1rem] divide-[#A0A0A0]">
              <div class="flex items-center justify-between">
                <p class="leading-4 font-bioRhyme font-bold text-xl text-black tracking-tighter">Batatas Fritas</p>
                <p class="leading-4 font-bioRhyme font-bold text-md text-[#A0A0A0] tracking-tighter">R$10,00</p>
              </div>
              <p class="font-cutive leading-3 text-[0.65rem] text-[#A0A0A0] flex-grow pt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut egestas justo purus, vel laoreet odio rhoncus a.</p>
            </div>
          </div>
        </div>
        <div class="grow flex items-center justify-center">
          <p>Não há customizações disponíveis.</p>
        </div>
        <div class="flex items-center sticky bottom-0 right-0 inset-0 border-0 bg-white rounded-[0.6rem] drop-shadow-bottom-navbar px-7 py-5 z-10">
          <div class="w-full flex gap-10 justify-between items-center">
            <div class="flex gap-3 items-center bg-[#F5EFCA] rounded-[0.3rem]">
              <button class="flex items-center justify-center bg-[#DBC164] text-white py-2 px-2.5 w-full rounded-[0.3rem] default-button">
                <fa-icon icon="minus" size="xl"></fa-icon>
              </button>
              <p class="leading-4 font-bioRhyme font-normal text-xl text-black tracking-tighter">1</p>
              <button class="flex items-center justify-center bg-[#DBC164] text-white py-2 px-2.5 w-full rounded-[0.3rem] default-button">
                <fa-icon icon="plus" size="xl"></fa-icon>
              </button>
            </div>
            <div class="flex w-64 grow">
              <button class="flex items-center justify-center bg-[#DBC164] py-2 w-full rounded-[0.3rem] default-button">
                <p class="font-bioRhyme font-extrabold text-xl tracking-tighter text-white drop-shadow-title">Adicionar</p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>

