<div class="flex flex-col gap-1 px-3 py-2 min-w-[280px] rounded-lg bg-white drop-shadow-cart-item cursor-pointer"
(click)="onCardClick()">
  <div class="flex justify-between items-start">
    <div class="flex flex-col">
      <p class="font-dmSans font-bold text-lg tracking-tighter -mb-1.5">Pedido {{ index }}</p>
      <p *ngIf="!mostrarPreco" class="font-dmSans font-bold text-sm text-gray-500 tracking-tighter">Mesa {{ pedido.mesa.name }}</p>
    </div>
    <div class="flex items-center my-0.5 rounded-[7px] px-2 py-0.5 pedido-{{ 'AGUARDANDO' }} ">
      <p class="font-dmSans font-semibold text-sm text-white tracking-tighter">{{ 'AGUARDANDO' | titlecase }}</p>
    </div>
  </div>
  <div class="flex flex-col pb-1"
       [class]="{'border-b-2 border-gray-300' : mostrarPreco}">
    <div *ngFor="let item of pedido.itens" class="flex justify-between">
      <p class="font-dmSans font-medium text-sm text-gray-500 tracking-tight">- {{ item.quantidade }}x {{ item.nome }}</p>
      <p *ngIf="mostrarPreco" class="font-dmSans font-semibold text-sm text-gray-500 tracking-tighter">
        {{ item.preco | currency:undefined:undefined:undefined:'pt-BR'}}
      </p>
    </div>
  </div>
  <div *ngIf="mostrarPreco" class="flex justify-between">
    <p class="font-dmSans font-semibold text-gray-800 tracking-tighter">Total</p>
    <p class="font-dmSans font-bold text-sm text-gray-800 tracking-tighter">
      {{ pedido.precoTotal | currency:undefined:undefined:undefined:'pt-BR' }}
    </p>
  </div>
</div>
