<div class="flex flex-col gap-5 pt-3 pl-3 rounded-lg dark:border-gray-700 mt-16">
  <div class="flex justify-between px-2">
    <p class="font-dmSans font-extrabold text-2xl text-[#97741E] tracking-tighter">{{ title }}</p>
    <div class="flex gap-3">
      <ng-container *ngFor="let button of actionButtons | keyvalue">
        <button class="rounded-md">
          <div class="w-8 text-[#97741E]">
            <fa-icon [icon]="button.value" size="xl" (click)="onActionButtonClick(button.key)"></fa-icon>
          </div>
        </button>
      </ng-container>
    </div>
  </div>
  <div class="flex flex-wrap shrink grow max-w-full gap-4 px-2 mb-4">
    <div class="w-full max-w-full h-[calc(100dvh-11rem)] drop-shadow-card rounded-lg bg-gray-50 dark:bg-gray-800">
      <ng-content></ng-content>
    </div>
  </div>
</div>
