<div class="flex min-h-[7rem] w-auto bg-white drop-shadow-card rounded-[0.3rem] px-4 py-4 gap-2">
  <div class="flex flex-col shrink w-[30rem] itens-center gap-2">
    <div class="flex flex-col">
      <p class="leading-4 font-bioRhyme font-bold text-xl text-black tracking-tighter">{{ titulo }}</p>
      <p class="leading-4 font-bioRhyme font-bold text-sm text-[#A0A0A0] tracking-tighter">{{ preco | currency:undefined:undefined:undefined:"pt-BR" }}</p>
    </div>
    <p class="font-cutive leading-3 text-[0.65rem] text-[#A0A0A0] flex-grow">{{ descricao }}</p>
  </div>
  <div class="flex items-center grow shrink-0 w-24">
    <img class="object-cover w-full h-24 rounded-[0.3rem]" src="{{ imageLink }}" alt="{{ titulo }}">
  </div>
</div>
