<app-generic-modal-layout [title]="titulo" [hasFullSize]="true" [defaultCloseObject]="defaultCloseObject">

  <ng-container modal-content>
    <ng-content></ng-content>
  </ng-container>

  <ng-container modal-footer>
    <div class="flex flex-col grow gap-1">
      <app-banner-preco-total [preco]="preco"></app-banner-preco-total>
      <app-default-button class="grow" [titulo]="tituloBotao" (clicked)="onButtonClick()" ></app-default-button>
    </div>
  </ng-container>

</app-generic-modal-layout>
