<div class="h-full overflow-y-auto p-4 rounded-lg">
  <ng-container *ngIf="(itens$ | async) as itens; else carregandoItens">
    <div class="flex flex-wrap gap-4">
        <ng-container *ngFor="let item of itens">
          <app-item-card [id]="item.id"
                         [titulo]="item.nome"
                         [preco]="item.preco"
                         [categoria]="item.categoria?.name!"
                         (cardClicked)="onItemClick($event)">
          </app-item-card>
        </ng-container>
    </div>
  </ng-container>
</div>

<ng-template #carregandoItens>
  <div class="flex flex-col gap-2 w-full h-full justify-center items-center bg-gray-100">
    <fa-icon class="text-[#c6b065]" icon="arrows-rotate" size="3x" animation="spin"></fa-icon>
    <p class="font-dmSans font-semibold text-xl text-[#b59f5a] tracking-tight">Carregando Itens...</p>
  </div>
</ng-template>
