<div class="flex grow items-center bg-[#EFEFEF] rounded-t-[0.6rem] drop-shadow-card mx-3">
  <div class="w-full flex gap-10 justify-between items-center">
    <div class="flex justify-between w-64 grow px-5 py-3">
      <div class="flex flex-col justify-between rounded-[0.3rem]">
        <p class="leading-3 font-bioRhyme font-bold text-md tracking-tighter text-[#787878]">Pedido {{ numeroPedido }}</p>
        <div class="flex gap-1 items-center">
          <p class="leading-3 font-bioRhyme text-sm tracking-tighter text-[#787878]">Tempo médio de espera</p>
          <fa-icon class=" text-[#787878]" icon="info-circle"></fa-icon>
        </div>
      </div>
      <div class="flex items-center justify-between rounded-[0.3rem]">
        <p class="font-bioRhyme font-extrabold text-lg tracking-tighter text-[#D65555]">{{ tempoEspera }}</p>
      </div>
    </div>
  </div>
</div>
