<div class="flex flex-col w-full h-full justify-between p-4 overflow-y-auto">
  <div class="flex flex-col gap-5">
    <div class="flex">
      <button [routerLink]="backButtonRoute" class="flex items-center gap-3">
        <div class="py-2 px-3 rounded-md bg-[#DBC164]">
          <fa-icon icon="angle-left" size="lg" class="text-white"></fa-icon>
        </div>
        <p class="font-dmSans font-semibold text-lg tracking-tighter">{{ backButtonTitle }}</p>
      </button>
    </div>

    <div class="flex flex-col gap-2">
      <div class="flex flex-col">
        <p class="font-dmSans font-bold text-2xl tracking-tighter">{{ title }}</p>
        <p *ngIf="subtitle" class="font-dmSans font-semibold text-lg text-gray-500 tracking-tighter leading-3 pb-2">{{ subtitle }}</p>
      </div>
        <ng-content select="[form-content]"></ng-content>
    </div>
  </div>
  <div class="flex justify-end gap-3">
      <ng-content select="[buttons-content]"></ng-content>
  </div>
</div>
