<div class="flex min-h-[7rem] w-auto justify-between bg-white drop-shadow-cart-item rounded-[0.3rem] px-4 py-4 gap-4">
  <div class="flex items-center">
    <img class="object-cover h-24 w-24 rounded-[0.3rem]" src="/assets/img/bolinho.png" alt="batata">
  </div>
  <div class="flex flex-col shrink grow itens-center gap-2">
    <div class="flex flex-col gap-0.5">
      <div class="flex gap-1">
        <p class="leading-4 font-bioRhyme font-bold text-md text-[#BC3434] tracking-tighter">1x</p>
        <p class="leading-4 font-bioRhyme font-bold text-md text-black tracking-tighter">Batatas Fritas</p>
      </div>
      <p class="leading-4 font-bioRhyme font-bold text-sm text-[#454545] tracking-tighter">R$40,00</p>
    </div>
    <p class="font-cutive leading-2 text-[0.65rem] text-[#A0A0A0] flex-grow">- Molho Especial <br> - Picles</p>
  </div>
  <div class="flex flex-col gap-5 justify-center">
    <button class="flex justify-center items-center">
      <fa-icon icon="pen-to-square" size="2xl" class="text-inherit" title="Conta"></fa-icon>
    </button>
    <button class="flex justify-center items-center text-[#BC3434]">
      <fa-icon icon="trash-can" size="2xl" class="text-inherit" title="Conta"></fa-icon>
    </button>
  </div>
</div>
