<app-generic-modal-layout title="Comanda" [hasFullSize]="false">

  <ng-container modal-content>
    <div class="flex flex-col gap-2 items-stretch my-2 font-bioRhyme">
      <label for="nome" class=" text-[#454545] text-left tracking-tighter">Insira seu nome para identificação:</label>
      <input id="nome"
             type="text"
             class="font-medium tracking-tight rounded-md border-gray-300 drop-shadow-title focus:border-amber-300 focus:ring-amber-300"
             placeholder="Juliano" [formControl]="nome">
    </div>
  </ng-container>

  <ng-container modal-footer>
    <div class="grid grid-cols-2 grow gap-4 justify-between">
      <app-default-button color="bg-blue" class="grow" titulo="Fazer pedido" (clicked)="onAccept()" [disabled]="!nome.valid"></app-default-button>
      <app-default-button class="grow" titulo="Cancelar" (clicked)="onDecline()"></app-default-button>
    </div>
  </ng-container>

</app-generic-modal-layout>
