<app-default-info-page title="Comanda" subtitle="{{ comanda?.cliente || null }}"
                       [backButtonTitle]="backButtonTitle" [backButtonRoute]="backButtonRoute">
  <ng-container form-content>
    <ng-container *ngIf="comanda">
      <div class="flex flex-col gap-8">
        <div class="flex">
          <div class="py-1 px-3 rounded-xl comanda-status-{{ comanda.status }}">
            <p class="font-dmSans font-bold tracking-tighter text-white">{{ comanda.status | titlecase }}</p>
          </div>
        </div>
        <div class="flex grow overflow-x-auto">
          <div class="flex flex-col gap-3">
            <div class="flex flex-col">
              <p class="font-dmSans font-extrabold tracking-tighter text-xl">Pedidos</p>
              <p class="font-dmSans font-semibold text-base text-gray-500 tracking-tighter leading-3">Mesa {{ comanda.mesa.name }}</p>
            </div>
            <div class="flex flex-wrap gap-2 px-1 pb-1">
              <app-pedido-card *ngFor="let pedido of comanda.pedidos; let i=index;"
                                       [pedido]="pedido" [index]="i"></app-pedido-card>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-container buttons-content>
    <ng-container *ngIf="comanda">
      <ng-container *ngIf="comanda.status === ComandaStatus.ABERTA; else comandaFechada">
        <button routerLink="edit" class="flex gap-2 py-2 px-3 font-dmSans font-semibold text-lg text-white tracking-tighter bg-amber-500 rounded-md">
          <fa-icon icon="pen-to-square" size="lg"></fa-icon>
          Editar
        </button>
        <button class="flex gap-2 py-2 px-3 font-dmSans font-semibold text-lg text-white tracking-tighter bg-red-500 rounded-md"
                (click)="fecharComanda()">
          <fa-icon icon="lock" size="lg"></fa-icon>
          Fechar Comanda
        </button>
      </ng-container>
    </ng-container>
  </ng-container>
</app-default-info-page>

<ng-template #comandaFechada>
  <ng-container *ngIf="comanda?.status === ComandaStatus.FECHADA">
    <button class="flex gap-2 py-2 px-3 font-dmSans font-semibold text-lg text-white tracking-tighter bg-green-500 rounded-md">
      <fa-icon icon="circle-dollar-to-slot"></fa-icon>
      Pagar Comanda
    </button>
    <button class="flex gap-2 py-2 px-3 font-dmSans font-semibold text-lg text-white tracking-tighter bg-amber-500 rounded-md">
      <fa-icon icon="lock-open"></fa-icon>
      Abrir Comanda
    </button>
    <button class="flex gap-2 py-2 px-3 font-dmSans font-semibold text-lg text-white tracking-tighter bg-gray-400 rounded-md">
      <fa-icon icon="xmark"></fa-icon>
      Cancelar Comanda
    </button>
  </ng-container>
</ng-template>
