<div class="h-20 flex items-center sticky bottom-0 right-0 inset-0 border-0 bg-white rounded-t-[0.6rem] drop-shadow-bottom-navbar px-6 z-10">
  <div class="w-full flex gap-5 justify-between items-center">
    <div class="flex shrink grow w-28 justify-center">
      <button class="relative">
        <fa-icon icon="shopping-basket" class="text-inherit relative" title="Conta" size="2xl"></fa-icon>
        <span class="absolute -top-2 -right-1 inline-flex items-center rounded-xl bg-[#BC3434] px-[0.3rem] py-[0.05rem]">
          <p class="font-bioRhyme font-extrabold text-white text-xs drop-shadow-title">{{ quantidadeItens }}</p>
        </span>
      </button>
    </div>
    <div class="flex w-64 grow shrink-0">
      <app-default-button class="grow" titulo="Fazer pedido"></app-default-button>
    </div>
  </div>
</div>
